<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta
      name="description"
      content="Quickly see when the genesis block and consensus constants files have last been updated."
    />
    <meta property="og:url" content="https://wen.tarimain.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wen Tari Mainnet?" />
    <meta
      property="og:description"
      content="Quickly see when the genesis block and consensus constants files have last been updated."
    />
    <meta property="og:image" content="https://wen.tarimain.net/wen.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="wen.tarimain.net" />
    <meta property="twitter:url" content="https://wen.tarimain.net/" />
    <meta name="twitter:title" content="Wen Tari Mainnet?" />
    <meta
      name="twitter:description"
      content="Quickly see when the genesis block and consensus constants files have last been updated."
    />
    <meta name="twitter:image" content="https://wen.tarimain.net/wen.jpg" />
    <link href="sp.css" rel="stylesheet" />
  </head>
  <body>
    {% block content %} {{ section.content | safe }} {% endblock %}
    <script src="main.js"></script>
  </body>
</html>
