<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="sp.css" rel="stylesheet" />
  </head>
  <body>
    {% block content %} {{ section.content | safe }} {% endblock %}
    <script src="main.js"></script>
  </body>
</html>
